@model Bloggie.web.Models.ViewModels.EditBlogPost
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Edit Blog</h1>
    </div>
</div>
@if (Model != null)
{
    <div class="container py-5">
        <form method="post">
            <div class="mb-3">
                <lablel class="form-label">ID</lablel>
                <input type="text" class="form-control" id="ID" asp-for="ID" readonly />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Heading</lablel>
                <input type="text" class="form-control" id="Heading" asp-for="Heading" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Page Titile</lablel>
                <input type="text" class="form-control" id="DisplayName" asp-for="PageTitle" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Content</lablel>
                <textarea class="form-control" id="content" asp-for="Content"></textarea>
            </div>
            <div class="mb-3">
                <lablel class="form-label">Short Description</lablel>
                <input type="text" class="form-control" id="ShortDescription" asp-for="ShortDescription" />
            </div>
            <div class="mb-3">
                <label class="form-label">Featured Image Upload</label>
                <input type="file" id="featuredImageUpload" class="form-control" />
                @if (Model.FeaturedImageUrl != null)
                {
                    <img class="mt-3" src="@Model.FeaturedImageUrl" id="featuredImageDisplay" style="display:block;width: 300px;" />
                }
                <img class="mt-3" src="" id="featuredImageDisplay" style="display:none;width: 300px;" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Image Url</lablel>
                <input type="text" class="form-control" id="FeaturedImageUrl" asp-for="FeaturedImageUrl" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Url Handle</lablel>
                <input type="text" class="form-control" id="UrlHandle" asp-for="UrlHandle" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">PublishedDate</lablel>
                <input type="date" class="form-control" id="PublishedDate" asp-for="PublisedDate" />
            </div>
            <div class="mb-3">
                <lablel class="form-label">Author</lablel>
                <input type="text" class="form-control" id="Auther" asp-for="Auther" />
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
                <label class="form-check-label">
                    Is Visible?
                </label>
            </div>
            
            
                <div class="mb-3">
                    <label class="form-label">Tags</label>
                    <select class="form-select"
                    asp-items="@Model.Tags"
                    asp-for="SelectedTags">
                    </select>
                </div>
            


            <div class="mb-3">
                <button type="submit" class="btn btn-dark">Update</button>
                <button type="submit" class="btn btn-danger ms-3" asp-area="" asp-controller="AdminBlogPost" asp-action="Delete">
                    Delete
                </button>
            </div>

        </form>
    </div>

    @section Scripts{
    <script>
        var editor = new FroalaEditor('#content', {
            imageUploadURL: '/api/images'
        });
        const featuredUploadElement = document.getElementById('featuredImageUpload');
        const featuredImageUrlElement = document.getElementById('FeaturedImageUrl');
        const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');


        async function uploadFeaturedImage(e) {
            console.log(e.target.files[0]);

            let data = new FormData();
            data.append('file', e.target.files[0]);

            await fetch('/api/images', {
                method: 'POST',
                headers: {
                    'Aceept': '*/*',
                },
                body: data
            }).then(response => response.json())
                .then(result => {
                    featuredImageUrlElement.value = result.link;
                    featuredImageDisplayElement.src = result.link;
                    featuredImageDisplayElement.style.display = 'block';
                });
        }


        featuredUploadElement.addEventListener('change', uploadFeaturedImage);
    </script>
}
}
